{{#each this}}
  <li class='gallery__item'>
    <img src='{{webformatURL}}' alt='{{q}}' />

    <div class='stats'>
      <p class='stats__item'>
        <i class='material-icons stats__material-icons'>thumb_up</i>
        {{likes}}
      </p>
      <p class='stats__item'>
        <i class='material-icons stats__material-icons'>visibility</i>
        {{views}}
      </p>
      <p class='stats__item'>
        <i class='material-icons stats__material-icons'>comment</i>
        {{comments}}
      </p>
      <p class='stats__item'>
        <i class='material-icons stats__material-icons'>cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </li>
{{/each}}